<label>Server Name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)"> &lt;!&ndash;only one direction communication&ndash;&gt;-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"> <!--both direction communication-->
<br>
<p>{{serverName}}</p>
<br>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()" >Add Server</button>
<!--  (click)="serversCreation='serber has been created.'" >Add Server</button>--><!--directly we can put logic in code like this-->
<!--<p [innerText]="allowNewServer"></p>-->
<br>
<p *ngIf="serverCreated">Server NAME is: {{serversCreation}}</p>
<hr>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  [(ngModel)]="newName"-->
<!--&gt;-->

<!--<p>-->
<!--  <label>{{newName}}</label>-->
<!--</p><hr>-->


<!--<button-->
<!--  class="btn btn-primary"-->
<!--  [disabled]="newName === ''"-->
<!--  (click)="newName=''"-->
<!--  >Reset name-->
<!--</button>-->
<hr>






<!--<h1>
  it's SERVERS components
</h1>-->
<hr>
<app-server *ngFor="let server of servers"></app-server>
<!--<app-server></app-server>-->
<!--<app-warming-alerts></app-warming-alerts>-->
<!--<app-success-alert></app-success-alert>-->
